<footer>
<div class="icon_container">
  <div class="icon">
    <a class="circle" href="https://github.com/tripproberts">
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="icon">
    <a class="circle" href="http://linkedin.com/in/tripproberts/">
      <i class="fa fa-linkedin"></i>
    </a>
  </div>
  <div class="icon">
    <a class="circle" href="https://soundcloud.com/tripp-roberts/tracks">
      <i class="fa fa-soundcloud"></i>
    </a>
  </div>
</div>
</footer>
