<header>
<a href="/"><h1>tr</h1></a>
  <nav class="navbar">
    <ul class="nav navbar-nav">
      <li><a href="/music">Music</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/resume">Resume</a></li>
      <li><a href="mailto:tripp@tripp-roberts.com">Contact</a></li>
    </ul>
  </nav>
</header>
