<html>

<head>
  <title>Tripp Roberts</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" media="screen" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>

<body>


  <div class="content">
  <img class="portrait" alt="portrait" src= "/images/portrait_bw.png">
    <b>Tripp Roberts</b> is an entrepreneur, web developer, and Georgia Tech student.
  </div>

  <nav>
    <a href="/resume">Resume</a> | <a href="mailto:tripp@tripp-roberts.com">Contact</a>
  </nav>

  <div class="icon_container">
    <a href="http://facebook.com/tripp.roberts">
      <div class="icon">
        <b>f</b>
      </div>
    </a>
    <a href="http://twitter.com/tripproberts">
      <div class="icon">
        <b>t</b>
      </div>
    </a>
    <a href="http://linkedin.com/in/tripproberts/">
      <div class="icon">
        <b>in</b>
      </div>
    </a>
  </div>

</body>

</html>

