<section class="photos">
  <% @photos.each_with_index do |photo, i| %>
    <div class="photo">
      <img class="<%= i %> grayscale grayscale-fade" src="<%=photo.image_url%>" />
    </div>
  <% end %>
</section>
