<a class="project" href=<%= project.url %> target="_blank" style="background-image: url(<%= project.image_url%>)">
    <h2><%= project.title %></h2>
  <span style="background-image: url(<%= project.image_url %>)"></span>
</a>
