@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,600);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  font-size: 1em;
}

a {
  text-decoration: none;
  color: black;
}

img.portrait {
  width: 40%;
  display: block;
  margin: 0px auto 20px auto;
}

.content {
  background-color: #eeeeee;
  padding: 50px 10px;
  text-align: center;
}

nav {
  font-size: 1.5em;
  text-align: center;
  margin: 30px auto;
  transition: 0.5s ease;
  webkit-transition: 0.5s ease;
}

nav a:hover {
  border-bottom: 1px solid;
}

.icon_container {
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
  width: 160px;
  margin-bottom: 20px;
}

.icon {
  font-size: 1.5em;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px 20px;
  border-radius: 20px 20px;
  background-color: #eeeeee;
  float: left;
  margin-right: 20px;
  color: white;
  text-align: center;
  line-height: 40px;
  transition: background-color 0.5s ease-in;
  webkit-transition: background-color 0.5s ease-in;
  moz-transition: background-color 0.5s ease-in;
  o-transition: background-color 0.5s ease-in;
}

a:last-child .icon {
  margin-right: 0;
}

.icon:hover {
  background-color: #bbb;
  transition: 0.5s ease-in;
  webkit-transition: 0.5s ease-in;
  moz-transition: 0.5s ease-in;
  o-transition: 0.5s ease-in;
}

@media (min-width: 466px) {
  .content {
    font-size: 1.25em;
  }

  .tagline {
    width: 400px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 720px) {

  img.portrait {
    width: 140px;
    float: left;
    margin-right: 38px;
    margin-top: -40px;
    margin-bottom: 0px;
  }

  .content {
    margin-top: 200px;
    text-align: left;
    overflow: hidden;
    padding: 0px 10px;
  }

  .tagline {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }

}
